:root {
    --horizontal-space: 25px;
    --main-border: 1px solid rgba(0, 0, 0, 0.2);
    --border-color: #e0e0e0;

    --color-black: rgba(0, 0, 0, 0.8);
    --color-blue: #0033ff;
    --color-point: #620039;
    --color-green: #396200;
    --color-yellow: #d7be00;
    --color-gray: rgba(255,255,255,0.8);
    --color-dark-gray: #222222;
    
    --spectrum-80:  #99adff;
    --spectrum-mid: #0033ff;
    --spectrum-20:   #001466;
    
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    --global-responsive-content-max-width: 1260px;
    --global-responsive-content-super-width: 1920px;
}